{% extends 'layout.html' %}

{% block title%}
Current Readings
{% endblock %}

{% block body %}
<div class="jumbotron" style="padding-top: 25px;">
    <h3>Current Readings</h3>
    <br>
    <div class="row">
        <div class="col-sm">
            <div class="card bg-light mb-3">
                <div class="card-header">Bay 1 Voltage</div>
                <div class="card-body">
                    <h5 class="card-title">bay 1 Voltage</h5>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header">Bay 2 Voltage</div>
                <div class="card-body">
                    <h5 class="card-title">bay 2 Voltage</h5>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header">Bay 3 Voltage</div>
                <div class="card-body">
                    <h5 class="card-title">bay 3 Voltage</h5>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header">Bay 4 Voltage</div>
                <div class="card-body">
                    <h5 class="card-title">bay 4 Voltage</h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card bg-light mb-3">
                <div class="card-header">Bay 1 Current</div>
                <div class="card-body">
                    <h5 class="card-title">bay 1 Current</h5>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header">Bay 2 Current</div>
                <div class="card-body">
                    <h5 class="card-title">bay 2 Current</h5>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header">Bay 3 Current</div>
                <div class="card-body">
                    <h5 class="card-title">bay 3 Current</h5>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header">Bay 4 Current</div>
                <div class="card-body">
                    <h5 class="card-title">bay 4 Current</h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card bg-light mb-3">
                <div class="card-header">Bay 1 Power</div>
                <div class="card-body">
                    <h5 class="card-title">bay 1 Power</h5>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header">Bay 2 Power</div>
                <div class="card-body">
                    <h5 class="card-title">bay 2 Power</h5>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header">Bay 3 Power</div>
                <div class="card-body">
                    <h5 class="card-title">bay 3 Power</h5>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header">Bay 4 Power</div>
                <div class="card-body">
                    <h5 class="card-title">bay 4 Power</h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card bg-light mb-3">
                <div class="card-header">Bay 1 Time</div>
                <div class="card-body">
                    <h5 class="card-title">bay 1 Time</h5>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header">Bay 2 Time</div>
                <div class="card-body">
                    <h5 class="card-title">bay 2 Time</h5>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header">Bay 3 Time</div>
                <div class="card-body">
                    <h5 class="card-title">bay 3 Time</h5>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header">Bay 4 Time</div>
                <div class="card-body">
                    <h5 class="card-title">bay 4 Time</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}